{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/checkout.css') }}">
{% endblock %}

{% block content %}
    <section class="checkout-section">
        <h2 class="section-title">Checkout</h2>
        <div class="section-content">
            <div class="clara-basket-list">
                {% for item in basket_items %}
                <div class="clara-basket-item">
                    <img src="{{ url_for('static', filename=item.image_url) }}" class="basket-image">
                </div>
                <div class="clara-basket-item-details">
                    <h3>{{ item.name }}</h3>
                    <p>Quantity: {{ item.quantity }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="checkout-summary">
                <p>Total: £{{ total_price }}</p>
                <!-- Add a real checkout functionality here -->
                <a href="#" class="button place-order-button">Place Order</a>
            </div>
        </div>
    </section>
{% endblock %}
