{% extends 'base.html' %}

{% block content %}
    <section class="checkout-section">
        <h2 class="section-title">Checkout</h2>
        <div class="section-content">
            <ul class="checkout-list">
                {% for item in basket_items %}
                <li class="checkout-item">
                    <img src="{{ url_for('static', filename=item['image_url']) }}" alt="{{ item['name'] }}" class="checkout-item-image">
                    <div class="checkout-item-details">
                        <h3 class="checkout-item-name">{{ item['name'] }}</h3>
                        <p class="checkout-item-price">£{{ item['price'] }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="checkout-summary">
                <p>Total: £{{ total_price }}</p>
                <!-- Add a real checkout functionality here -->
                <a href="#" class="button place-order-button">Place Order</a>
            </div>
        </div>
    </section>
{% endblock %}
