.checkout-section {
    padding: 2rem;
    background-color: #f0c9e4;
}

.clara-basket-list {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
}

.clara-basket-item, .clara-basket-item-details {
    border: 2px solid #e7aecd;;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.basket-image {
    width: 100%;
    padding: 10px;
}

.total {
    margin-top: 2rem;
    font-size: 1.3rem;
}